@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model.Posts.Any())
    {
        <h2>
            MOST LIKED <a asp-controller="Home" asp-action="Index">POSTS</a>.
        </h2>

        for (int i = 0; i < (Model.Posts.Count > 3 ? 3 : Model.Posts.Count); i++)
        {
            <div class="post">
                <div class="post-author">
                    <a>@Model.Posts[i].AuthorId</a>
                    <p>@Model.Posts[i].Date</p>
                </div>
                <div>
                    @if (Model.Posts[i].Text.Any())
                    {
                        <p>Model.Posts[i].Text</p>
                    }
                    @if (Model.Posts[i].SongId != Guid.Empty)
                    {
                        <a>@Model.Posts[i].SongId</a>
                    }
                    @if (Model.Posts[i].AlbumId != Guid.Empty)
                    {
                        <a>@Model.Posts[i].AlbumId</a>
                    }
                </div>
            </div>
        }
    }
</div>
